:root {
  --size: calc(1vh + 1vw);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0 3%;
}
.header h1 {
  font-size: calc(var(--size) * 1.4);
}
.navbar {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  max-width: 70%;
}
.navbar a {
  font-size: calc(var(--size) / 1.3);
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}
.selected {
  opacity: 0.5;
  pointer-events: none;
}
.navbar a:hover {
  opacity: 0.5;
  transition: all 0.3s;
}
.section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 3% 0 3%;
  background-color: #fffdf5;
  padding-bottom: 3%;
}
.aside {
  max-width: 30%;
}
.list li {
  font-size: calc(var(--size) / 1.4);
}
.map-img {
  width: 100%;
}
.div-56 {
  gap: 5%;
  display: flex;
  justify-content: center;
}
.div-5,
.div-6 {
  max-width: 50%;
}
.main-content {
  display: flex;
  width: 100%;
}
.article-3 {
  max-width: 40%;
  padding: 0 3% 0 3%;
  text-align: start;
}
.article-456 {
  max-width: 60%;
}
.running-string {
  font-size: calc(var(--size) / 1.4);
  background-color: #ffdbdb;
}
.section h5 {
  font-size: calc(var(--size) / 1.2);
}
.section p {
  font-size: calc(var(--size) / 1.4);
}
.div-img {
  width: 100%;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3% 0 3%;
  background-color: #f5f5f5;
}
.footer h1 {
  font-size: calc(var(--size) * 1.4);
}
.footer p {
  font-size: calc(var(--size) / 1.3);
}
@media screen and (max-width: 500px) {
  .section {
    flex-direction: column;
  }
  .aside {
    max-width: 100%;
  }
  .main-content {
    flex-direction: column;
  }
  .article-3 {
    max-width: 100%;
  }
  .article-456 {
    max-width: 100%;
  }
}
